{% extends "alumnos/plantilla_base.html" %}
{% load static%}

{% block contenido_base %}
<h1> 
<i><u>
    Acerca del proyecto CoderBlog NNN:
</u></i>    
</h1>
<br>
<br>
    <h6>
    <p> > El proyecto comenzo siguiendo las instrucciones de construccion del playground basico, evoluciono al intermedio y ahora cuenta con funeciones mas avanzadas como el blog, posibilidad de CRUD en la web, login para usuarios. 
    <p> > El nombre toma las iniciales de los 3 integrantes del grupo :).
    <p> > La paleta de colores utilizada para el blog se basa en la paleta numero 1238... Casualmente es similar al logo de Python!
    <p> > En nuestro archivo readme puedes encontrar toda la documentacion acerca de las tecnologias y productos utilizados para el desarrollo del sitio. 
    </h6>
<br>
<br>
<h3> 
    Acerca de Nahuel Genari:
</h3>
<img src="{% static 'alumnos/assets/img/nahuel.jpg' %}" width="250" height="250" alt="Alumno Nahuel" class="center">

<h6>
<p>Originario de Santo Tome, en Santa Fe, emigro a la capital porteña en el año 2003 al barrio de Pompeya donde vivio hasta los 28 años. 
<p>Luego se mudo al barrio de Villa Devoto donde reside actualmente. 
</h6>
<br>
<br>
<h3> 
    Acerca de Nicolas Bocassi: 
</h3>
<img src="{% static 'alumnos/assets/img/hacker.png' %}" width="250" height="250" alt="Alumno Nicolas Bocassi" class="center">
<h6>
    <p>Nativo de Buenos Aires, su deporte favorito es el futbol y su hobby el cocinar. 
    <p>Tiene como mascostas 2 gatos y un perro. 
    </h6>
<br>
<br>
<h3> 
    Acerca de Nicolas Demarque:
</h3>
<img src="{% static 'alumnos/assets/img/nicodemarque.jpg' %}" width="250" height="250" alt="Alumno Nicolas Demarque" class="center">
<h6>
    <p>Nacido y criado en Mendoza, la capital argentina del vino. 
    <p>Trabaja en una bodega y ademas le gusta programar. 
</h6>

{% endblock contenido_base %}